.app {
  $this: &;
  font-family: "Roboto", sans-serif;

  &__header {
    width: 100%;
    background-color: #f5b5b5;
    text-align: center;

    #{$this}__title {
      font-weight: 900;
      padding: 0.5rem;
      text-transform: uppercase;
    }
  }
}
