
.app {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    min-height: 100vh;
    
    &__header {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-content: center;
        background-color: #f5b5b5;
    }

    &__title {
        font-weight: 400;
        padding: .5rem;
        letter-spacing: .125rem;
    }
}

