
.app {
    font-family: 'Roboto', sans-serif;

    &__header {
        width: 100%;
        background-color: #f5b5b5;
        text-align: center;
    }

    &__title {
        font-weight: 400;
        padding: .5rem;
        letter-spacing: .125rem;
    }
}

