.board {
    padding: 10px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 2px;
  }
  
.board .tile {
    text-align: center;
    padding: 25%;
    border: 1px black solid;
}